body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 11px;
}
.main {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.left {
	width: 18%;
	min-height: 100vh;
	background-color: #11171C;
	color: white;
}
.focusArea {
	width: 100%;
	height: 10%;
	background-color: #CC4D4D;
	display: flex;
	align-items: center;
	justify-content: center;
}
.focusArea__text {
	border-bottom-style: solid;
	border-color: white;
	border-width: 3px;
	font-style: italic;
}
.sidebarHeader {
	display: flex;
	color: #303F47;
	font-weight: bold;
	padding: 10px;
}
.sidebarHeader--lighter{
	color: #6F7A81;
}
.sidebarLinks {
	list-style: none;
	line-height: 30px;
}
.sidebarLinks__image {
	padding-right: 5px;
}
.center {
	width: 64%;
}
.header {
	display: flex;
}
.siteTitle {
	padding-top: 10px;
	font-size: 24px;
}
.sortContent {
}
.content {
	display: inline-block;
	flex-wrap: wrap;
/*	justify-content: space-between;
	align-content: space-between;*/
}
.content__title {
	color: #5D6A72;
	font-weight: bold;
}
.content__genre {
	color: #9CA5B1;
}
.content__length {
	color: #9CA5B1;
}
.right {
	width: 18%;
	min-height: 100vh;
	background-color: #ECEDEF;
}
.rightHeader {
	width: 100%;
	height: 10%;
	background-color: #74C0C8;
}
.userInfo__photo {
	float: left;
	padding-right: 5px;
}
.userInfo {
}
.userInfo__name {
	color: #616D75;
	font-weight: bold;
}
.userInfo__movie{
	color: #B2B9C3;
}
.userInfo__status{
	float: right;
}
.userInfo--currentUser{
	display: flex;
	align-items: center;
	justify-content: center;
}
.userInfo__name--currentUser{
	color: white;
}