body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 11px;
}
.main {
	display: flex;
}
.left {
	width: 18%;
	min-height: 100vh;
	background-color: #11171C;
}
.searchBox {
	width: 100%;
	height: 10%;
	background-color: #CC4D4D;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search{
	display: flex;
	justify-content: space-between;
	border-bottom: solid white 3px;
	width: 150px;
}
.search__input {
	background: transparent;
	border: none;
	font-style: italic;
	color: white;
}
::-webkit-input-placeholder {
	color: white;
}
.search__icon {
	margin-left: 10px;
}
.search--chat {
	background-color: #C4CCD8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebarHeader {
	display: flex;
	color: #303F47;
	font-weight: bold;
	padding: 10px;
}
.sidebarHeader--lighter{
	color: #6F7A81;
}
.sidebarLinks {
	list-style: none;
	line-height: 30px;
	color: white;
}
.sidebarLinks__image {
	padding-right: 5px;
}
.center {
	width: 64%;
	margin-left: 15px;
	margin-right: 15px;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.siteTitle {
	padding-top: 10px;
	font-size: 24px;
}
.sortContent {
	display: flex;
	flex-direction: row;
}
.sortContent__date {
	color: #CFD5DF;
	font-weight: bold;
}
.sortContent__divider {
	color: #CFD5DF;
}
.sortContent__popular {
	color: #8BC9D0;
	font-weight: bold;
}
.content {
	display: inline-block;
	padding: 6px;
	padding-bottom: 5px;
}
.content__title {
	color: #5D6A72;
	font-weight: bold;
}
.content__genre {
	color: #9CA5B1;
}
.content__length {
	color: #9CA5B1;
}
.right {
	position: fixed;
	width: 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*min-height: 100vh;*/
	height: 100%;
	background-color: #ECEDEF;
}
.rightHeader {
	width: 100%;
	height: 10%;
	background-color: #74C0C8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userInfo {
	padding: 5px;
	padding-left: 15px;
}
.userInfo__photo {
	float: left;
	padding-right: 5px;
}
.userInfo__name {
	color: #616D75;
	font-weight: bold;
}
.userInfo__movie{
	color: #B2B9C3;
}
.userInfo__status{
	float: right;
	padding-right: 15px;
}
.userInfo--currentUser{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.userInfo__photo--currentUser{
	width: 15px;
	height: 15px;
}
.userInfo__name--currentUser{
	color: white;
}
.userInfo__status--currentUser{
}