body {
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 12px;
}
.main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
.left {
	width: 18%;
	order: 1;
	min-height: 100vh;
	background-color: #11171C;
	color: white;
}
.focusArea {
	width: 100%;
	height: 75px;
	background-color: #CC4D4D;
	display: flex;
	align-items: center;
	justify-content: center;
}
.focusArea__text {
	border-bottom-style: solid;
	border-color: white;
	border-width: 3px;
}
.sidebarHeader {
	display: flex;
	color: #303F47;
	font-weight: bold;
	padding: 10px;
}
.sidebarLinks {
	list-style: none;
	line-height: 30px;
}
.center {
	order: 2;
	width: 60%;
}
.siteTitle {
	padding-top: 10px;
	font-size: 24px;
}
.sortContent {
}
.content {
	display: flex;
	display: inline-block;
}
.right {
	width: 18%;
	order: 3;
	min-height: 100vh;
	background-color: #ECEDEF;
	float: right;
}
.right__header {
	width: 100%;
	height: 75px;
	background-color: #74C0C8;
	color: white;
}